<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <title>Mosaic HTML Demo - Sign in</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="./flatpickr.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
    <!-- <script>
        if (localStorage.getItem('dark-mode') === 'false' || !('dark-mode' in localStorage)) {
            document.querySelector('html').classList.remove('dark');
            document.querySelector('html').style.colorScheme = 'light';
        } else {
            document.querySelector('html').classList.add('dark');
            document.querySelector('html').style.colorScheme = 'dark';
        }
    </script>     -->

<body class="dark:text-slate-400 c3jt4 c6w4h c6vqo c0ndv csf1w">

     

    <main class="bg-white c3jt4">

        <div class="flex c4ijw">

            <!-- Content -->
            <div class="c52db c3ff8">

                <div class="flex cbz56 cfwm1 chmlm crszu">

                    <!-- Header -->
                    <div class="cy6kd">
                        <div class="flex items-center cmgwo clpyc cj3hv ciqso c9r0z">
                            <!-- Logo -->
                            <a class="block" href="index.html">
                                <img width="150" height="100" src="https://www.linkurcodes.com/images/logo.png" alt="">
                           
                            </a>
                        </div>
                    </div>
    
                    <div class="ciiqv cofxq c3ff8 c9r0z c0ycj">
        
                        <h1 class="text-3xl text-slate-800 dark:text-slate-100 font-bold crkc7"> Student Portal</h1>
                        <!-- Form -->
                        <form>
                            <div class="cxebx">
                                <div>
                                    <label class="block text-sm cw92y ci4cg" for="email">Email Address</label>
                                    <input id="email" class="c03gb c3ff8" type="email">
                                </div>
                                <div>
                                    <label class="block text-sm cw92y ci4cg" for="password">Password</label>
                                    <input id="password" class="c03gb c3ff8" type="password" autocomplete="on">
                                </div>
                            </div>
                            <div class="flex items-center cmgwo cro1p">
                                <div class="mr-1">
                                    <a class="text-sm ck3o7 cn69j" href="#">Forgot Password?</a>
                                </div>
                                <button class="btn ml-3 cfeqx cf1ce ceqwg">Sign In</button>
                            </div>
                        </form>
                        <!-- Footer -->
                        <div class="border-slate-200 dark:border-slate-700 c87xd cro1p cc5dk">
                            <div class="text-sm">
                                Don’t you have an account? <a class="text-indigo-500 cuv1l cdi3j cw92y" href="#">Sign Up</a>
                            </div>

                            <div class="text-sm">
                                Are you the Batch Co-ordinator? <a class="text-indigo-500 cuv1l cdi3j cw92y" href="#">    Click Here</a>
                            </div>
                         
                        </div>
        
                    </div>

                </div>

            </div>

            <!-- Image -->
            <div class="hidden c52db c108j csmh2 csp9v cke32 cvqv9" aria-hidden="true">
            
            <!-- Image Carousel -->
<!-- <div class="hidden carousel c52db c108j csmh2 csp9v cke32 cvqv9" aria-hidden="true">
    <div class="carousel-slide" style="background-image: url('./portrait-hacker.jpg');"></div>
    <div class="carousel-slide" style="background-image: url('./portrait-hacker.jpg');"></div>
    <div class="carousel-slide" style="background-image: url('./portrait-hacker.jpg');"></div>
</div> -->

            
               <img class="cq1k0 cbq5m crszu c3ff8" src="./portrait-hacker.jpg" width="760" height="1024" alt="">
            </div>

        </div>

    </main>




</body></html>